<div id="consentContent">
    <div style="word-wrap: break-word;">
    With finetuning and sharing your model you agree to the following conditions:<br>
    I acknowledge to share my parameters used for finetuning, these include:
    <ul>
        <li>- selected base model (has to be openly available)</li> 
        <li>- number of datapoints</li> 
        <li>- the labels of these datapoints</li>
        <li>- train and evaluation loss per epoch</li>
    </ul>
    I ensure that any personal information is absent in the used labels. I also use ICD-10 codes or semantically understandable, if applicable, for interoperability.
    If you want to share your model, you can send a feature request with the model and exported parameters to our Repository.
    </div>
    <input type="checkbox" id="consent" required>I have read the terms and agree.</select>
</div>