<div id="mission-content" style="position: relative">

    <h1>{% include "modules/template.html" %}</h1>

    <div class="mission-section" style="padding: 20px; border: 1px solid #e0e0e0; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        {% if DISCLAIMER %}
            <p style="color: #c54442; overflow: hidden;">Nur ausschliesslich Testdaten hochladen. Dieses Produkt ist nicht nach Medizinproduktegesetz (MPG) zertifiziert und somit nicht zur Befundung geeignet.</p>
        {% endif %}
        <p>For more information or if you use this software please cite this <a target="_blank" href="https://arxiv.org/abs/2503.13570">Paper</a>.<br>
        Quick links:</p>
        <ul>
            <li><a target="_blank" href="https://www.imigitlab.uni-muenster.de/published/exchangeai/-/blob/main/README.md">Installation</a></li>
            <li><a target="_blank" href="https://www.imigitlab.uni-muenster.de/published/exchangeai/-/blob/main/Getting_Started.md">Getting Started</a></li>
            <li><a target="_blank" href="https://uni-muenster.sciebo.de/s/K85bd5tmoBqPa7w">Sample Data (100hz)</a></li>
        </ul>
    </div>

    
    <div class="mission-section" style="padding: 20px; border: 1px solid #e0e0e0; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <p>Discover the power of advanced ECG analysis with our end-to-end platform designed to simplify the electrocardiogram (ECG) analysis.<br>
        Whether you're a healthcare professional, a researcher, or someone without prior expertise in this field, our user-friendly interface empowers you to:</p>
        <ul>
            <li>Analyse ECGs with multiple views for comprehensive insights.</li>
            <li>Use machine learning models to predict diseases.</li>
            <li>Finetune your own models using your own data seamlessly.</li>
        </ul>
        <p>Elevate your AI capabilities with no prior expert knowledge.</p>
    </div>
    

    <div class="instituion-section" style="margin-bottom: 80px; padding: 20px; border: 1px solid #e0e0e0; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div style="display: flex; gap: 20px;">
            <div class="team-member" style="flex: 1; background-color:transparent; display: flex; align-items: center; justify-content: center;">
                <img src="https://www.uni-muenster.de/imperia/md/images/allgemein/farbunabhaengig/unims.svg" alt="Member 1" style="height: 100px; width: auto;">
            </div>
            <div class="team-member" style="flex: 1; background-color:transparent; display: flex; align-items: center; justify-content: center;">
                <img src="https://www.medizin.uni-muenster.de/fileadmin/system/images/allgemein/mfm_logo.svg" alt="Member 2" style="height: 120px; width: auto;">
            </div>
            <div class="team-member" style="flex: 1; background-color:transparent; display: flex; align-items: center; justify-content: center;">
                <img src="https://www.medizin.uni-muenster.de/fileadmin/_processed_/7/0/csm_Logo_IMI_mit_eingebundener_Schrift_3200x2546%40300dpi_9dbdabfaca.png" alt="Member 3" style="height: 130px; width: auto;">
            </div>
        </div>
    </div>

</div>
